body {
    background-color: rgb(22, 22, 22);
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 20px;
    padding: 20px;
}

.logo a {
    color: #E6533C;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

.icon{
    display:none;
}
#bg-red{
    background-color: red;
    border-radius: 15px;
    margin-left: -10px;
}

ul{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.098);
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav-links li {
    margin: 0 15px;
    padding: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}


